$mobile-width: 1920px;
$tablet-width: 918px;
$desktop-width: 1024px;

@mixin mobile{
    @media screen and (max-width: #{$mobile-width}){
        @content;
    }
}

@mixin tablet{
    @media (min-width: #{$tablet-width}){
        @content;   
    }
}
@mixin desktop{
    @media(min-width: #{$desktop-width}){
        @content
    }
}
