*{
    margin: 0;
    padding: 0;
}

header{
    width: $block_header_width;
    height: $block_header_heigth;
    nav{
        width: 100%;
        height: 13%;
        list-style: none;
        @include flex();
    }li{
        margin: 0% 0% 0% 6%;
        @include li_header();
    }
    .image{
        width: $width-image;
        height: $height_image;
        background: $image;
        margin: 0% 0% 0% 51%;
        @include position-image();
    }
}
/*iNFORMATION PAGE */
.information_the_page{
    width: 100%;
    height: 50%;
    @include flex-information()
}
#title_of_name_line_of_north{
    margin-top: -69%;
    display: inline-block;
    @include title-name-line-of-north();
}
#image_of_short_of_section{
    width: 81vh;
    height: 81vh;
    position: absolute;
    transform: rotate(221deg);
    background: $six-image;
    @include position-image();
}
#title_one{
    margin-left: -37%;
    margin-top: -28%;
    position: absolute;
}
#title_two{
    position: absolute;
    margin-top: -11%;
    margin-left: 50%;
}
#title_three{
    position: absolute;
    margin-top: 15%;
    margin-left: -37%;
}
#title_four{
    position: absolute;
    margin-left: 50%;
    margin-top: 35%;
}
.number{
    position: absolute;
    margin-left: -20%;
    color: $four-color;
    @include number();
}
.text{
    @include font-class-text();
}
#second_product{
    @extend #first_products;
}
// FOOTER
footer{
    @include flex-of-page-about-and-product();
    width: 100%;
    height: 56vh;
    background: $first-color;
    .title_of_footer{
        @include text-footer-first();
    }
    .description_of_footer{
        margin-top: 20px;
        @include text-description();
    }
    .block_of_footer{
        width: 22%;
        height: 88%;
        line-height: 33px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: flex-start;
        align-items: flex-start;
    }
    .cart{
        width: 80%;
        height: 31%;
        margin: 39px 0px 0px 0px;
        background: url("../icon/BANCOS.png");
        @include position-image();
    }
    .Instagram{
        @include text-social();
    }
    .Facebook{
        @include text-social();
    }
    .Youtube{
        @include text-social();
    }
    .Twitter{
        @include text-social();
    }
    .troca{
        @include text-social();
    }
    .entrega{
        @include text-social();
    }
    .pagament{
        @include text-social();
    }
    .cancelamento{
        @include text-social();
    }
    .compra{
        @include text-social();
    }
}