*{
    margin: 0;
    padding: 0;
}

header{
    width: $block_header_width;
    height: $block_header_heigth;
    nav{
        width: 100%;
        height: 13%;
        list-style: none;
        @include flex();
    }li{
        margin: 0% 0% 0% 6%;
        font-family: $font;
        font-style: $style;
        font-weight: $weight;
        font-size: $size;
        letter-spacing: 0.2em;
    }
    .image{
        width: $width-image;
        height: $height_image;
        background: $image;
        margin: 0% 0% 0% 51%;
        @include position-image();
    }
}
/*iNFORMATION PAGE */
.information_the_page{
    width: 100%;
    height: 50%;
    @include flex-information()
}
#title_of_name_line_of_north{
    margin-top: -69%;
    display: inline-block;
    @include title-name-line-of-north();
}
#image_of_short_of_section{
    width: 81vh;
    height: 81vh;
    position: absolute;
    transform: rotate(221deg);
    background: $six-image;
    @include position-image();
}
#title_one{
    margin-left: -37%;
    margin-top: -28%;
    position: absolute;
}
#title_two{
    position: absolute;
    margin-top: -11%;
    margin-left: 50%;
}
#title_three{
    position: absolute;
    margin-top: 15%;
    margin-left: -37%;
}
#title_four{
    position: absolute;
    margin-left: 50%;
    margin-top: 35%;
}
.number{
    position: absolute;
    margin-left: -20%;
    color: $four-color;
    @include number();
}
.text{
    @include font-class-text();
}
#second_product{
    @extend #first_products;
}
