*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.image{
    background: url(../icon/error-404.png);
    width: 513px;
    height: 513px;
}